Source: sddm-settings
Section: misc
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=13)
Standards-Version: 4.6.2
Homepage: http://nxos.org


Package: sddm-settings
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, sddm, sddm-theme-maldives
Description: Defaults settings for SDDM
 Default settings for:
  - SDDM

